.sales{
  text-align: center;
  padding-top: 2rem;
 
}
.sales-container{
  display: flex;
 justify-content: space-around;
 margin-top: 5rem;
 font-size: 2rem;
 color: white;
}

.totalmoney{
  width: 15rem;
  height: 15rem;
  background-color:  var(--pri-green);
  text-align: center;
}

.orders{
  width: 15rem;
  height: 15rem;
  background-color:  var(--pri-green);
}

.qty{
  width: 15rem;
  height: 15rem;
  background-color:  var(--pri-green);
}