.about{
  width: 100%;
 height: 100vh;
  background-color: var(--pri-white);
  display: flex;
 
  flex-direction: column;
  align-items: center; 
}

.about .about_Heading{
  padding: 6rem;
  text-align: center;
  width: 36rem;
}

.about_Heading h1{
  font-size: 3rem;
  
}

.aboutUs_Containors{
  display: flex;
  gap: 3rem;
  
}

.aboutUs_Containors .about_Containor{
  height: 18rem;
  width: 26rem;
  background-color: white;
  border-radius: .5rem;
}

.aboutUs_Containors .about_Containor .stars{
  color: var(--sec-orange);
  padding: 1rem;
}

 .about_Containor .desc{
  width: 24rem;
  padding: 1rem;
 }

 .about .personal_Dtls{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
 } 

 .about .personal_Dtls{
  color: var(--pri-black);
 }

.about .personal_Dtls .person_Img img{
width: 5rem;
border-radius: .2rem;
}

@media only screen and (max-width: 360px){
  .about{
    width: 360px;
    overflow: hidden;
    padding-top: 1rem;
    display: flex;
    padding-bottom: 1rem;
    flex-direction: column;
    align-items: center; 
  }

  .about .about_Heading{
   
    text-align: center;
    width: 360px;
  }
  
  .about_Heading h1{
    font-size: 2rem;
    
  }

  .aboutUs_Containors{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 330px;
  }

  .aboutUs_Containors::-webkit-scrollbar-track{
    background: #f1f1f1;
  }

  .aboutUs_Containors .about_Containor{
    height: 18rem;
    width: 330px;
    background-color: white;
    border-radius: .5rem;
    
  }

  .about_Containor .desc{
    width: 300px;
    padding: 1rem;
   }

  
}