.online_ordr{
  padding: 2rem;
}
.pending_orders{
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}

.online_ordr h1{
  text-align: center;
 
  color: var(--pri-black);
  font-size: 2rem;
  font-weight: 900;
}