
.table_order .o_ord_container{
  width: 60rem;
 height: 6rem;


}



.table_order .order_dtls{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60rem;
  height: 6rem;
  overflow: hidden;
  background-color: var(--pri-white);
  padding: .1rem;
  border-radius: 0rem ;
  
  
}

.table_order .order_dtls .order_name_img img{
  width: 4rem;
}
.table_order .order_name_img{
  border-radius: .2rem;
  border: none;
  
}

.table_order.order_name_img p{
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.table_order .cod_payment{
  color: rgb(194, 39, 39);
}

.table_order .onln_payment{
  color: green;
}